#workbenchPageContent {
  max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;

  max-width: 100% !important;
}

.report-style-class {
  height: 100vh;
}

.ms-Panel-commands {
  display: none !important;
}

/* .pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
} */

[data-automation-id="CanvasZone"]>div {
  max-width: 100% !important;
}

div#CommentsWrapper {
  display: none;
}

.pagination {
  text-align: center;
  cursor: pointer !important;
  margin: 30px 0px;
}

.pagination .ms-Button {
  border: none !important;
  background: none !important;
  min-width: 0 !important;
  padding: 5px !important;
  color: #000;
  margin: 12px 0px;
}

.pagination .ms-Button.ms-Button--primary .ms-Button-label {
  color: #fff;
  background: #202945;
  padding: 10px 14px;
  border-radius: 50%;
}

/* .filter_wraper_inner{
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter_icon{
  position: absolute;
  right: 0;
  bottom: -50px;
  padding: 10px;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 768px) {
  .filter_wraper{
    display: none;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .active{
    display: block;
  }
  .filer_container{
    position: fixed;
    right: 20px;
    bottom: 55px;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }
  .filter_wraper_inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

} */
.header_filter_wraper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter_container {
  display: none;
  position: fixed;
  bottom: 70px;
  right: -100%;
  padding: 10px;
  transition: 0.3s ease all;
  border-radius: 4px;
  background-color: #fff;
  /* box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  z-index: 5;

}

.filter_wraper_inner {
  display: flex;
  flex-direction: column;
}

.filter_icon {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  z-index: 5;
  padding:10px 8px 5px 8px;
  border-radius: 50%;
  box-shadow: 0 1.6px 3.6px 0 #00000022, 0 0.3px 0.9px 0 #0000001c;
  background-color: #fff;
}

.active_filter_container {
  right: 16px;
  transition: 0.3s ease all;
}

@media only screen and (max-width: 768px) {
  .ms-Panel-main {
    width: 80% !important;
  }

  .ms-Panel-content {
    padding: 0 10px;
  }

  .ms-BasePicker-text {
    min-width: 0;
  }

  .header_filter_wraper {
    display: none;
  }

  .filter_container {
    display: block;
  }

  .filter_icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination {
    display: flex;
    justify-content: center;
  }

  .header_btn {
    padding: 0 !important;
    min-width: 40px;
    border-radius: 16px;
  }
  .filter_wraper_inner .textField_box,
  .filter_wraper_inner .btn_filter{
    margin-bottom: 10px;
  }
}